/*--general--*/
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1366px;
    /*-- min-width: 260px; --*/
    background-color: white;
    margin: 0 auto;
}

/*--header--*/
.header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background: url(../images/overlay.png) repeat 0 0 fixed, url(../images/background.jpg) no-repeat center -80px fixed #ffffff;
    /*background: #08a093;*/
    text-align: center;
    padding: 100px 0px;
}

.header .logo img {
    max-width: 100%;
    height: auto;
    background: #fff8dc;
    padding: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: cornsilk;
    padding: 14px 0px 7px 0px;
}

.header span {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 30px;
}

.header p {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    letter-spacing: 3px;
    color: cornsilk;
    padding: 2px 0px 36px 0px;
}

/*--social--*/
#social-icons a, #social-icons li {
    font-size: 70px;
    text-decoration: none;
    letter-spacing: 10px;
    display: inline-block;
}

.icon-facebook2:hover {
    color: #ffffff;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.icon-google-plus2:hover {
    color: #ffffff;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.icon-linkedin:hover {
    color: #ffffff;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.icon-github:hover {
    color: #ffffff;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?mu6yfk');
    src: url('../fonts/icomoon.eot?mu6yfk#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?mu6yfk') format('truetype'), url('../fonts/icomoon.woff?mu6yfk') format('woff'), url('../fonts/icomoon.svg?mu6yfk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: cornsilk;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\ea32";
}

.icon-mail:before {
    content: "\ea83";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-google-plus2:before {
    content: "\ea8c";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-github:before {
    content: "\eab0";
}

.icon-skype:before {
    content: "\eac5";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-linkedin2:before {
    content: "\eaca";
}

/*--contact-other--*/
#contact-other a, #contact-other li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: cornsilk;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#contact-other-block {
    text-align: center;
    line-height: 30px;
    width: 92%;
}

/*--contact-other-icons--*/
[class^="icon2-"], [class*=" icon2-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: cornsilk;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon2-mail:before {
    content: "\ea83";
    text-align: center;
}

.icon2-skype:before {
    content: "\eac5";
    text-align: center;
}

/*--about-icons--*/
[class^="icon3-"], [class*=" icon3-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 24px;
    color: #fff8dc;
    border-radius: 5px;
    background: #607D8B;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon3-address-book:before {
    content: "\e944";
}

.icon3-user:before {
    content: "\e971";
}

.icon3-user-tie:before {
    content: "\e976";
}

.icon3-eject:before {
    content: "\ea25";
}

.icon3-arrow-up:before {
    content: "\ea32";
}

.icon3-new-tab:before {
    content: "\ea7e";
}

.icon3-embed2:before {
    content: "\ea80";
}

.icon3-telegram:before {
    content: "\ea95";
}

.icon3-youtube:before {
    content: "\ea9d";
}

/*--footer--*/
.footer {
    /*background: #32383e;*/
    background: url('../images/background-footer.jpg') bottom no-repeat;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer .copyright {
    line-height: 1.6;
    color: cornsilk;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footer a {
    color: #fff;
}

/* form */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    /*background: #08a093;*/
    padding: 25px;
    margin: 0 auto;
    border-radius: 5px;
}

#contact h3 {
    color: cornsilk;
    display: block;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#contact p {
    font-family: 'Roboto', sans-serif;
    color: tomato;
    padding: 10px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width: 90%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 150px;
    border: none;
    background: cornsilk;
    color: #194e87;
    margin: 0 0 5px;
    height: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
}

#contact button[type="submit"]:hover {
    background: #ffffff;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

@media screen and (max-width: 480px) {
    #contact button[type="submit"] {
        cursor: pointer;
        width: 70%;
        border: none;
        background: cornsilk;
        color: #194e87;
        margin: 0 0 5px;
        height: 30px;
        font-size: 18px;
        border-radius: 5px;
    }
}

/*--flax-box--*/
@import "compass/css3"; .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: left;
    background: #ffffff;
}

.aside-1 {
    background: #607D8B;
}

.aside-2 {
    background: #607D8B;
}

@media all and (min-width: 800px) {
    .aside {
        flex: 1 auto;
        max-width: 50%;
    }

    .aside-1 {
        order: 1;
    }

    .aside-2 {
        order: 3;
    }
}

/*--flax-box-main--*/
@import "compass/css3"; .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-container h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #152839;
    padding: 20px 0px 18px 0px;
}

.flex-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.flex-item {
    background: #ffffff;
    padding: 5px;
    width: 48%;
    /*--text-align: center;--*/
}

@media all and (max-width: 800px) {
    .flex-item {
        background: #ffffff;
        padding: 5px;
        width: 100%;
    }
}

/*--skills--*/
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    background: #f5f4f2;
    height: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    padding: 0 15px;
    height: 25px;
    line-height: 27px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.skillbar-bar {
    height: 25px;
    width: 0px;
    background: #609bbd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    line-height: 27px;
    color: #000000
}

/*--button--*/
.button {
    border-radius: 4px;
    background-color: #fff8dc;
    border: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #194E87;
}

.button span:after {
    content: '↓';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*--map--*/
#map {
    width: 100%;
    height: 400px;
}